---
title: "见龙在田"
layout: home1
author_profile: true
secretpage: false


excerpt: "Ginger Gulp design system including logo mark, website design, and branding applications."
header:
  image: https://txyimg-1300036828.cos.ap-beijing.myqcloud.com/gallery/homepage.jpg
  teaser: assets/images/unsplash-gallery-image-3-th.jpg
gallery:
  - url: /resume1/
    image_path: https://txyimg-1300036828.cos.ap-beijing.myqcloud.com/gallery/IMG_9571.JPG
    alt: "锄禾"
  - url: /resume2/
    image_path: https://txyimg-1300036828.cos.ap-beijing.myqcloud.com/gallery/IMG_6951.jpg
    alt: "当午"
  - url: /resume3/
    image_path: https://txyimg-1300036828.cos.ap-beijing.myqcloud.com/gallery/IMG_4160.JPG
    alt: "禾下土"

---

{% if page.path == "index.html" %}

观自在菩萨，行深般若波罗蜜多时，照见五蕴皆空，度一切苦厄。舍利子，色不异空，空不异色，色即是空，空即是色，受想行识，亦复如是。舍利子，是诸法空相，不生不灭，不垢不净，不增不减。是故空中无色，无受想行识，无眼耳鼻舌身意，无色声香味触法，无眼界，乃至无意识界，无无明，亦无无明尽，乃至无老死，亦无老死尽。无苦集灭道，无智亦无得。以无所得故。菩提萨埵，依般若波罗蜜多故，心无挂碍。无挂碍故，无有恐怖，远离颠倒梦想，究竟涅盘。三世诸佛，依般若波罗蜜多故，得阿耨多罗三藐三菩提。故知般若波罗蜜多，是大神咒，是大明咒，是无上咒，是无等等咒，能除一切苦，真实不虚。故说般若波罗蜜多咒，即说咒曰：揭谛揭谛，波罗揭谛，波罗僧揭谛，菩提萨婆诃。

{% include gallery caption="技近乎于道，通往彼岸的路抓在手的往往只有一条" %}

88年java攻城狮一枚，擅长基于 java8围绕 spring boot 开发和提升性能，深入了解多线程以及相关并发框架，喜欢钻研和实践，
{% endif %}
